#about {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: -2;
}

#about-image {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    z-index: -1;
    box-shadow: none;
}

.about-text {
    background: rgba(85, 85, 85, 0.27);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 1px solid rgba(85, 85, 85, 0.02); 
    border-radius: 15px;
    position: fixed;
    z-index: 1;
    overflow: scroll;
    color: #fff6eaff;
	text-shadow: -0.3px 0.3px 0 #464646,
				  0.3px 0.3px 0 #464646,
				  0.3px -0.3px 0 #464646,
				  -0.3px -0.3px 0 #464646;
}

.about-title {
    font-family: 'Tangerine', cursive;
    margin: 2vh;
}

.about-logo {
    box-shadow: none;
}

@media (orientation: portrait) {
    @media (min-width: 0px) {
        .about-title {
            font-size: 4rem;
        }

        .about-text {
            width: 85vw;
            height: 82vh;
            top: 14vh;
            left: 3.25vw;
            font-size: 1.25rem;
            padding: 0 4vw;
        }   
    }
    @media (max-height: 760px) {
    }
    @media (min-width: 640px) {
    }
}

@media (orientation: landscape) {
    @media (min-width: 0px) {
        .about-title {
            font-size: 4rem;
        }

        .about-text {
            width: 91vw;
            height: 75vh;
            top: 20vh;
            left: 2vw;
            font-size: 1.5rem;
            padding: 0 4vh;
        } 
    }
    @media (min-width: 1000px) {
    }
    @media (min-width: 1900px) {
    }        

}