#footer {
    background-color: whitesmoke;
    width: 100vw;
    height: 15vh;
    position: relative;
    bottom: 0;
    left: 0;
    margin: 5vh -10px -10px -10px;
    box-shadow: 1px -1px 10px 2px #cfcfcf;
}

#created-by, #mw-link {
    font: lighter 1rem 'Cairo', sans-serif;
    margin: 0;
}

#created-by {
    color: rgb(94, 94, 94);
}
#mw-link {
    color: rgb(44, 44, 44);
    font-weight: 400;
}
#mw-link:hover {
    color: rgb(116, 116, 116);
    transition: 0.3s;
}
#icons {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}
.icon {
    color: rgb(27, 24, 54);
    transition: 0.3s;
}
.icon:hover {
    color: rgb(80, 77, 111);
    font-size: 2.8rem;
}


@media (orientation: portrait) {
    @media (min-width: 0px) {
        .icon {
            font-size: 2rem;
            margin: 1rem 1rem;
        }
        #created-by, #mw-link {
            font-size: 0.75rem;
        }
        #icons {
            width: 20vw;
            left: 25vw;
        }
        #mw-link:hover {
            font-size: 0.85rem;
        }
           
    }
    @media (max-height: 760px) {
    }
    @media (min-width: 640px) {
        .icon {
            font-size: 4rem;
            margin: 1.75rem 2rem;
        }
        #created-by, #mw-link {
            font-size: 1.25rem;
        }
        #icons {
            width: 20vw;
            left: 25vw;
        }
        #mw-link:hover {
            font-size: 0.85rem;
        }
    }
}

@media (orientation: landscape) {
    @media (min-width: 0px) {
        .icon {
            font-size: 2rem;
            margin: 0.5rem 1rem;
        }
        #created-by, #mw-link {
            font-size: 0.75rem;
            margin-top: -5vh;
        }
        #created-by {
            margin-left: 5vw;
        }
        #icons {
            width: 20vw;
            left: 0;
        }
        #mw-link:hover {
            font-size: 0.85rem;
        }
    }
    @media (min-width: 1000px) {
        .icon {
            font-size: 3rem;
            margin: 0.5rem 2rem;
        }
        #created-by, #mw-link {
            font-size: 1.25rem;
            margin-top: 0;
        }
        #created-by {
            margin-left: 0;
        }
        #icons {
            width: 25vw;
            left: 35vw;
        }
        #mw-link:hover {
            font-size: 1.5rem;
        }
    }
    @media (min-width: 1900px) {
    }        

}