body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -2;
    background: whitesmoke;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

html {
    box-sizing: border-box;
    font-size: 1rem;
    scroll-behavior: smooth;
}
  
:root {
  
}