#title-text {
    color: #fff6eaff;
}

li {
    list-style: none;
}

#navbar {
    background: rgba(85, 85, 85, 0.27);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 1px solid rgba(85, 85, 85, 0.02); 
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

#logo {
    aspect-ratio: 1/1;
    height: 80%;
    box-shadow: none;
}

.menus {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}

.menu-items {
    position: relative;
    display: flex;
    align-items: center;
    color: #fff6eaff;
    margin-right: 1vw;
}

.menu-items a {
    display: block;
    font-size: inherit;
    color: inherit;
    text-decoration: none;
}
       
.menu-items a:hover,
.menu-items button:hover {
    color: #ababab;
}

.arrow::after {
    content: "";
    display: inline-block;
    margin-left: 0.28em;
    vertical-align: 0.09em;
    border-top: 0.42em solid;
    border-right: 0.32em solid transparent;
    border-left: 0.32em solid transparent;
}

.dropdown {
    position: absolute;
    z-index: 9999;
    padding: 0.5rem 0;
    background: rgba(85, 85, 85, 0.27);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 1px solid rgba(85, 85, 85, 0.02); 
    border-radius: 15px;
}
.dropdown.hide {
    animation: menu-hide 400ms;
    overflow: hidden;
    animation-fill-mode: forwards;
}

.dropdown.show {
    display: grid;
    justify-items: center;
    animation: menu-toggle 300ms;
}

.dropdown .dropdown-submenu {
    position: absolute;
}

@media (orientation: portrait) {
    @media (min-width: 0px) {
        #navbar {
            height: 10vh;
        }

        #logo {
            margin: 1.5%;
        }
        #title-text {
            margin: 5% 5% 5% 5%;
            font: bold 2.5rem 'Tangerine', cursive;
        }
        .menus {
           
        }
        
        .menu-items {
            font: bold 4.7rem 'Tangerine', cursive;
        }
        
        .menu-items a {

        }
               
        .menu-items a:hover,
        .menu-items button:hover {

        }
        
        .arrow::after {

        }
        
        .dropdown {
            width: 93vw;
            height: 50vh;
            right: 20%;
            top: 2vh;
        }
        
        .dropdown.show {
            grid-template-columns: 1fr;
            padding: 1vh 0;
        }
        
        .dropdown .dropdown-submenu {
        }
        
        @keyframes menu-toggle {
            from {
                height: 1vh;
                opacity: 0;
            }
            to {
                height: 50vh;
                opacity: 1;
            }
        }

        @keyframes menu-hide {
            0% {
                height: 50vh;
                opacity: 1;
            }
            80% {
                height: 1vh;
                opacity: 0;
            }
            100% {
                height: 1vh;
                opacity: 0;
                display: none;
            }
        }

    }
    @media (max-height: 760px) {
    }
    @media (min-width: 640px) {
    }
}

@media (orientation: landscape) {
    @media (min-width: 0px) {
        #navbar {
            height: 15vh;
        }

        #logo {
            margin: 1%;
        }
        #title-text {
            margin: 1.5% 5% 5% 5%;
        }
        
        .menu-items {
            font: bold 3rem 'Tangerine', cursive;
        }
        
        .menu-items a {

        }
               
        .menu-items a:hover,
        .menu-items button:hover {

        }
        
        .arrow::after {

        }
        
        .dropdown {
            width: 95vw;
            height: 25vh;
            right: 20%;
            top: 5.5vh;
        }
        
        .dropdown.show {
            grid-template-columns: 1fr 1fr 1fr;
        }
        
        .dropdown .dropdown-submenu {
            
        }

        @keyframes menu-toggle {
            from {
                height: 1vh;
                opacity: 0;
            }
            to {
                height: 25vh;
                opacity: 1;
            }
        }

        @keyframes menu-hide {
            0% {
                height: 25vh;
                opacity: 1;
                display: grid;
            }
            80% {
                display: grid;
                height: 1vh;
                opacity: 0;
            }
            100% {
                height: 1vh;
                opacity: 0;
                display: none;
            }
        }
    }
    @media (min-width: 1000px) {
        #title-text {
            margin: 0;
            font: bold 5rem 'Tangerine', cursive;
        }
        .dropdown {
            width: 95vw;
            height: 25vh;
            right: 2vw;
            top: 4vh;
        }
        .menu-items {
            font: bold 6rem 'Tangerine', cursive;
        }
    }
    @media (min-width: 1900px) {
        #title-text {
            margin: 0;
            font: bold 10rem 'Tangerine', cursive;
        }
        .menu-items {
            font: bold 10rem 'Tangerine', cursive;
        }
        .dropdown {
            width: 95vw;
            height: 20vh;
            right: 2vw;
            top: 6vh;
        }
    }        

}