

#portfolio-title-underline {
    box-shadow: none;
    justify-self: center;
    width: 80vw;
}

.couple-cover {
    position: relative;
    left: 0;
    top: 0;
    object-fit: cover;
    z-index: -1;
    box-shadow: -1px 1px 10px 2px #cfcfcf;
}

.couple-link {
    display: inline-block;
    position: relative;
}

.couple-link .couple-cover {
    transition: filter 0.3s ease;
}

.couple-link:hover .couple-cover {
}

.couple-title {
    font: bold 3rem 'Tangerine', cursive;
    margin: 7.5vh 0 1vh 0;
}

#portfolio {
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    width: 100vw;
    margin: -10px;
}

@media (orientation: portrait) {
    @media (min-width: 0px) {
        #portfolio-title {
            font: bold 6rem 'Tangerine', cursive;
            margin: 15vh 0 0 0;
        }
        #portfolio-title-underline {
            margin: -2vh 0 1vh 0;
        }
        .couple-cover {
            width: 100vw;
            height: auto;
        }
    }
    @media (max-height: 760px) {
    }
    @media (min-width: 640px) {
    }
}

@media (orientation: landscape) {
    @media (min-width: 0px) {
        #portfolio-title {
            font: bold 6rem 'Tangerine', cursive;
            margin: 15vh 0 0 0;
        }
        #portfolio-title-underline {
            margin: -2vh 0 1vh 0;
        }
        .couple-cover {
            width: 100vw;
            height: 80vh;
        }
    }
    @media (min-width: 1000px) {
        .couple-title {
            font: bold 7.5rem 'Tangerine', cursive;
            margin: 7.5vh 0 1vh 0;
        }
        #portfolio-title {
            font: bold 15rem 'Tangerine', cursive;
            margin: 15vh 0 0 0;
        }
        #portfolio-title-underline {
            margin: -10vh 0 1vh 0;
        }
    }
    @media (min-width: 1900px) {
    }        

}