h3 {

}

.showreel {
    display: grid;
    gap: 0.25rem;
}
  
  @media (orientation: portrait) {
    @media (min-width: 0px) {

      h3 {
        font: bold 3rem 'Tangerine', cursive;
        margin: 12vh 0 1vh 0;
      }
    }
    @media (max-height: 760px) {
    }
    @media (min-width: 640px) {
    }
  }
  
  @media (orientation: landscape) {
    @media (min-width: 0px) {
      .showreel {
        grid-template-columns: 1fr 1fr;
      }
      h3 {
        font: bold 5rem 'Tangerine', cursive;
        margin: 17.5vh 0 1vw 0;
      }
    }
    @media (min-width: 1000px) {
      .showreel {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
      h3 {
        font: bold 7.5rem 'Tangerine', cursive;
      }
    }
    @media (min-width: 1900px) {
      .showreel {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      }
      h3 {
        font: bold 10rem 'Tangerine', cursive;
      }
    }        
  
  }