#title {
    height: 100vh;
    width: 100%;
}

#title-image {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    z-index: -1;
}

@media (orientation: portrait) {
    @media (min-width: 0px) {
           
    }
    @media (max-height: 760px) {
    }
    @media (min-width: 640px) {
    }
}

@media (orientation: landscape) {
    @media (min-width: 0px) {
        #title-image {
            object-position: 30% 40%;
        } 
    }
    @media (min-width: 1000px) {
    }
    @media (min-width: 1900px) {
    }        

}